[Unit]
Description=Velovision standalone mode gstreamer record to local disk (75MB / minute * 360 chunks (6 hours looped) =  27GB )
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /opt/velovision/scripts/standalone_gstreamer.sh
User=root

[Install]
WantedBy=multi-user.target
