[Unit]
Description=Velovision control HTTP server
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/velovision/supreme-server
Restart=on-failure
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
